@import "./common.css";

/* banner section css */
.hire_team_banner {
  position: relative;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  height: 100vh;
}
.hero_section {
  /* max-height: 100vh; */
  height: 100vh;
  display: flex;
  align-items: center;
}

.for_dev_banner_content h2,
.for_dev_banner_content p {
  color: #fff;
}
.for_dev_banner_content span {
  color: #36aee8;
}

/* developer_dream_company css */
.barnd_logo_card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fcb819;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}
.brand_logo {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #fcb819; */
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

/* global opportunity css */
.global_opportunity_section {
  background-color: #ff650212;
}
/* apply for job css */
.apply_for_job_section {
  background-color: #11cd7e0f;
}
.apply_job_icon_design {
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: #fff;
  border-radius: 50px;
  border: 7px solid transparent;
}
.apply_job_process_card_content{
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 350px;
}

/* matching process css */
.matching_process_section {
  background-color: #fef6ef;
}
.day_box_point_content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 6%;
  margin: auto;
  height: 100%;
  width: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.top_clip {
  width: 100px;
  margin-bottom: 40px;
}
/* Jobon zixi soft section css */
.Jobon_zixi_soft_section {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  padding: 5rem 0;
}
.developer_type_card_wrap .developer_type_card_content {
  padding-top: 5rem;
  position: relative;
}
.developer_type_card_content .card-text {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
.developer_type_card_logo {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -7%;
  left: 0;
  right: 0;
  margin: auto;
}
.developer_type_slider .owl-stage-outer {
  padding-top: 3rem;
}
.developer_type_slider .owl-dots {
  display: none;
}

/* FAQ ForDeveloper css */
.faq_for_developer_section {
  background-color: #fef6ef;
}
.hire_faq_card {
  width: 270px;
  max-height: 100%;
  padding: 20px;
  position: relative;
  right: 90px;
  top: 30px;
  margin: auto;
  z-index: 5;
  margin-bottom: 20px;
}
.faq_accordian .accordion-item {
  border: 0;
  margin: 10px 0;
}
.faq_accordian .accordion-item .accordion-button {
  background-color: #ffede1;
  border-radius: 7px;
}
.faq_accordian .accordion-header {
  border-radius: 7px;
}

/* apply now mini banner */
.apply_now_banner {
  padding: 4rem 0;
}
.apply_now_banner .content_wrapper {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
  overflow: hidden;
}
