@import "./common.css";

/* banner section css */
.for_developer_banner {
  position: relative;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  height: 100vh;
}
.for_dev_banner_img{
  position: relative;
  height: 100%;
  display: flex;
  align-items: end;
}
.hero_section {
  /* max-height: 100vh; */
  height: 100vh;
  display: flex;
  align-items: center;
}

.for_dev_banner_content h2,
.for_dev_banner_content p {
  color: #fff;
}
.for_dev_banner_content span {
  color: #36aee8;
}

/* developer_dream_company css */
.barnd_logo_card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fcb819;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}
.brand_logo {
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #fcb819; */
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
}
.brand_logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* global opportunity css */
.global_opportunity_section {
  background-color: #ff650212;
}
/* apply for job css */
.apply_for_job_section {
  background-color: #11cd7e0f;
}
.apply_job_icon_design {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: #fff;
  border-radius: 50px;
  border: 7px solid transparent;
}
.apply_job_process_card_content {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 300px;
}
.apply_job_process_cards_wrap {
  height: 700px;
}
.apply_job_process_card {
  position: absolute;
}
.apply_job_process_card1 {
  top: 20%;
  bottom: 0;
  margin: auto;
}
.apply_job_process_card2 {
  bottom: 0;
  left: 200px;
}
.apply_job_process_card3 {
  top: 28%;
  left: 45%;
  transform: translate(-50%, -50%);
  margin: auto;
}
.apply_job_process_card4 {
  bottom: 70px;
  right: 365px;
}
.apply_job_process_card5 {
  top: 14px;
  right: 164px;
}

.apply_job_icon_design::after {
  content: "";
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 92px;
  top: 40%;
  bottom: 0;
}
.apply_job_process_card1 .apply_job_icon_design::after {
  width: 160px;
  height: 145px;
  background-image: url(/public/assets/images/job-apply-process-vector-1.png);
  left: 92px;
  top: 40%;
  bottom: 0;
}
.apply_job_process_card2 .apply_job_icon_design::after {
  width: 210px;
  height: 199px;
  background-image: url(/public/assets/images/job-apply-process-vector-2.png);
  left: 83px;
  top: -150px;
  bottom: 0;
}
.apply_job_process_card3 .apply_job_icon_design::after {
  width: 150px;
  height: 130px;
  background-image: url(/public/assets/images/job-apply-process-vector-3.png);
  left: 95px;
  top: 35px;
  bottom: 0;
}
.apply_job_process_card4 .apply_job_icon_design::after {
  width: 210px;
  height: 199px;
  background-image: url(/public/assets/images/job-apply-process-vector-4.png);
  left: 66px;
  top: -150px;
  bottom: 0;
}

/* matching process css */
.matching_process_section {
  background-color: #fef6ef;
}
.day_box_point_content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 6%;
  margin: auto;
  height: 100%;
  width: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.top_clip {
  width: 100px;
  margin-bottom: 40px;
}
/* Jobon zixi soft section css */
.Jobon_zixi_soft_section {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  padding: 5rem 0;
}
.developer_type_card_wrap{
  width: 350px;
  margin-top: 30px;
}
.developer_type_card_wrap .developer_type_card_content {
  padding-top: 5rem;
  position: relative;
}
.developer_type_card_content .card-text {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
.developer_type_card_logo {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -7%;
  left: 0;
  right: 0;
  margin: auto;
}
.developer_type_slider .owl-stage-outer {
  padding-top: 3rem;
}
.developer_type_slider .owl-dots {
  display: none;
}

/* FAQ ForDeveloper css */
.faq_for_developer_section {
  background-color: #fef6ef;
}
.hire_faq_card {
  width: 270px;
  max-height: 100%;
  padding: 20px;
  position: relative;
  right: 90px;
  top: 30px;
  margin: auto;
  z-index: 5;
  margin-bottom: 20px;
}
.faq_accordian .accordion-item {
  border: 0;
  margin: 10px 0;
}
.faq_accordian .accordion-item .accordion-button {
  background-color: #ffede1;
  border-radius: 7px;
}
.faq_accordian .accordion-header {
  border-radius: 7px;
}

/* apply now mini banner */
.apply_now_banner {
  padding: 4rem 0;
}
.apply_now_banner .content_wrapper {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
  overflow: hidden;
}

/* responsive css */

/* For Small Desktop Screen Resolution 1366x768 Media:- */
@media only screen and (max-width: 1400px) {
  .apply_job_process_card5 {
    right: 0;
  }
  .apply_job_process_card4 {
    right: 197px;
  }
  .apply_job_process_card3 {
    left: 52%;
  }
}
@media only screen and (max-width: 1200px) {
  .apply_job_icon_design::after {
    display: none;
  }
  .apply_job_process_card {
    position: unset;
  }
  .apply_job_process_cards_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
  }
  
  .apply_job_process_card3,
  .apply_job_process_card1,
  .apply_job_process_card5 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    transform: none;
    margin: unset;
  }
  .apply_job_process_card_content{
    margin-top: 1rem;
  }
  /* .apply_job_process_card5 {
    right: 0;
  }
  .apply_job_process_card4 {
    right: 197px;
  }
  .apply_job_process_card3 {
    left: 52%;
  } */
}
@media only screen and (max-width: 600px) {
  .apply_job_process_card_content{
    width: 100%;
  }
  .developer_type_card_wrap{
    width: 320px;
   }
}