/* Screen Resolution Big screen Laptop 1920x1080 Media:- */
@media only screen and (min-width: 1920px) {
}

/* For MacBook Pro Laptop 1440x990 Media Query:- */
@media only screen and (min-width: 1367px) and (max-width: 1649px) {
}

/* For Small Desktop Screen Resolution 1366x768 Media:- */
@media only screen and (max-width: 1366px) {
}

/* For Ipad-Pro devices 1024x1366 Media Query:- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .banner_section {
    height: 45vh;
  }
  .teams_member_card_1 {
    width: 70%;
  }
  .teams_member_card_2 {
    width: 70%;
  }
  .hire_team_banner {
    height: 55vh;
  }
}

/* For Ipad-Pro devices 1024x1366 Media Query:- */
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .hire_faq_card {
    right: 28px;
    width: 250px;
  }
  .banner_content_wrap .main_heading {
    font-weight: 400;
    font-size: 40px;
}
}

/* For Ipad devices 768x1024 Media Query:- */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner_content_wrap{
    margin-top: 5rem;
  }
  .client_serve_img_wrap .ellipse_yellow {
    width: 130px;
  }
  .client_serve_img_wrap .ellipse_blue_pink {
    right: -8%;
    width: 90px;
  }
  .client_serve_img_wrap .ellipse_skyblue {
    width: 90px;
  }
  .opportunities_point span {
    width: 60px;
    height: 45px;
  }
  .header_section {
    background: #fff;
  }
  .header_section .navbar-nav {
    align-items: center;
  }
}

/* For Mobile devices and tablet both Media Query:- */
@media only screen and (max-width: 991px) {
  .banner_section {
    height: 100vh;
  }
  .hire_dev_img1 {
    width: 80%;
  }
  .hire_dev_img2 {
    width: 80%;
  }
  .blue_border_gradient {
    right: -4%;
  }
  .ellipse_purle {
    width: 100px;
  }
  .rectangle_yellow_layer {
    bottom: -11%;
    left: -24px;
    width: 80px;
  }
  .consultant_contact_form {
    margin: 20px 0;
  }
  .header_section {
    background: #fff;
  }
  /* footer css */
  .footer_expertise_about_wrap {
    flex-wrap: wrap;
  }
  .about_wrap {
    width: 100%;
  }
  .footer_mid_divider.vr {
    display: none;
  }

  .hire_faq_card {
    width: 100%;
    position: unset;
  }
}

/* For Mobile devices Media Query:- */
@media only screen and (max-width: 767px) {
  .logo_wrapper {
    max-width: 100px;
  }
  .banner_content_wrap{
    margin-top: 5rem;
  }
  /* footer */
  .footer_meetup .vr {
    display: none;
  }
  .apply_now_banner {
    padding: 2rem 0;
  }
  .for_developer_banner .for_dev_banner_content{
    margin-top: 5rem;
  }
  .for_developer_banner{
    height: 50vh;
  }
  .for_dev_banner_img{
    display: none;
  }

  .expert_hire_purple_layer,
  .expert_hire_blue_layer,
  .expert_hire_yellow_layer {
    display: none;
  }
  .shedule_call_model_card img {
    width: 100%;
  }
  .shedule_call_model_card .hstack {
    flex-direction: column;
  }
  .shedule_call_model_card_content {
    display: block;
  }
}
/* For Mobile devices Media Query:- */
@media only screen and (max-width: 500px) {
  .about_statics_wrap {
    flex-wrap: wrap;
  }
  .about_statics_wrap .about_statics {
    border: 0;
  }
  /* client serve by home css */
  .client_serve_img_wrap .ellipse_yellow {
    right: -10%;
    width: 100px;
  }
  .client_serve_img_wrap .ellipse_blue_pink {
    right: -10%;
    width: 100px;
  }
  .client_serve_img_wrap .ellipse_skyblue {
    top: -10%;
    left: -7%;
    width: 90px;
  }
  .client_serve_img_wrap .second_ellipse_green {
    bottom: -14%;
    right: -7%;
    width: 70px;
  }

  .purple_border_gradient {
    right: 4%;
    top: -6%;
    max-width: 70px;
  }
  .blue_border_gradient {
    right: -5%;
    bottom: 7%;
    width: 70px;
  }
  .teams_member_card_2,
  .teams_member_card_1 {
    width: 80%;
  }
  .opportunities_point .opportunities_point_number {
    height: 46px;
  }
  .expertise_wrap {
    width: 100%;
  }
  .expertise_wrap .hstack {
    display: block;
  }
  .expertise_wrap .hstack .vr {
    display: none;
  }
}

/*Bootstrp 5 xs bearkpoint */
@media only screen and (max-width: 576px) {
  .clent_serve_content_wrap .row:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .banner_content_wrap{
    margin-top: 5rem;
  }
  .banner_section{
    height: auto;
  }
}
